[user]
	name = abhirao2901
	email = abhirao2901@users.noreply.github.com
[core]
	autocrlf = true
	safecrlf = false
[push]
	default = simple
[pull]
	rebase = false
[remote "origin"]
	url = git@github.com:abhirao2901/Shoppify-Health-Kart.git
	fetch = +refs/heads/*:refs/remotes/origin/*
